body {
    font-family: "Marcellus", serif;
    padding-top: 70px;
    scroll-behavior: smooth;
}

.marcellus-sc-regular {
    font-family: "Marcellus SC", serif;

}


.navbar {
    background-color: rgb(255, 255, 255);
}


.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #000 !important;
}

.navbar-nav .nav-link:hover {
    color: #BA9263 !important;
}

.navbar-toggler {
    border: none;
}

.login-icon {
    font-size: 1.2rem;
    margin-left: 10px;
}

.image-header {
    height: 60vh;
    background-image: url("img/Img_Header.png");
    background-size: cover;
}

.logo {
    height: 37.5px;
    width: 150px;
}

.btn-royal {
    color: #212529;
    background-color: #BA9263;
    border-color: none;

}

.line {
    height: 6px;
    width: 77px;
    background-color: #BA9263;

}

.card-quarto {
    position: relative;
    overflow: hidden;
    border: none;
    border-bottom: 15px;
    cursor: pointer;
}

.card-quarto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-quarto .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.card-quarto .card-overlay h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.reserve-link {
    display: block;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}

.card-spacing {
    margin-bottom: 20px;
}

.bg-footer {
    background-color: #BA9263;
}

.embed-responsive {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.card-quarto:hover {
    transform: translateY(-10px);
}